name: Tests

on: ["push", "pull_request"]

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [7.4]

    name: P${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, json, simplexml, intl
          tools: composer:v2
          coverage: xdebug

      - name: Install dependencies
        run: |
          composer update --no-interaction --no-progress --ignore-platform-reqs

      - name: Run Tests
        run: |
          php vendor/bin/phpunit --coverage-clover tests/coverage/coverage-clover.xml --log-junit coverage-junit.xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./tests/coverage/coverage-clover.xml
          flags: tests
          name: codecov-umbrella
          yml: ./tests/coverage/coverage-codecov.yml
          fail_ci_if_error: true
